body {
  font-family: 'Avenir Next', 'Avenir', 'sans-serif';
}

.selected {
  /* font-weight: bold; */
  background: #ddd;
}


.sortable-part1 {
  box-shadow: rgba(50, 50, 93, 0.07) 2px 3px 4px 1px;
}

.sortable-part1.selected {
  box-shadow: rgba(50, 50, 93, 0.15) 3px 7px 10px 4px;
}
